# API
PORT=3001
NODE_ENV=development

# Database (Supabase)
DATABASE_URL="postgresql://user:password@localhost:5432/pixel_mentor"

# JWT
JWT_SECRET=b20b90781e673334bda0905f0ba54e1a1858e9da3bdde158c90ba83d9fdd73e9
JWT_EXPIRES_IN=7d

# Gemini AI
GEMINI_API_KEY=AIzaSyDBbWfuzJhyyJ7OFvtyvPWGn1GTqXbyaZE
